<div class="h-screen flex flex-col">
  <div class="flex flex-1">
    <.live_component module={Aside} id="aside" />
    <main class="flex-1 p-6">main</main>
  </div>
  <footer class="border-t border-zinc-800 p-6">Footer</footer>
</div>
